rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all documents by default.
    // This is not secure for production apps.
    // You should secure your data with more specific rules.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
